[user]
    name = disrupted
    email = hi@salomonpopp.me
    signingkey = A299EE8F816BBFA4

[github]
    # GitHub username for cli
    user = disrupted

[color]
    ui = auto

[push]
    # Push to the set upstream branch being tracked by default.
    default = simple

[pull]
    # Default to rebasing on pulls
    rebase = true

[commit]
    gpgsign = true

[core]
    pager = delta  # or bat
    # Exclude everything this file. Used for general exclusions.
    excludesfile = ~/.gitignore
    # Set attributes on files. Used for general diff improvements.
    attributesfile = ~/.gitattributes
    # Don't prompt for commit messages for merge commits.
    mergeoptions = --no-edit
    commitGraph = true

[help]
    # Autocorrect mistyped commands.
    autocorrect = 1

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Monokai Extended Bright
    # plus-color = "#012800"
    # minus-color = "#340001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[apply]
    # Cleanup whitespace by default when apply patches.
    whitespace = fix

[rebase]
    # Run `git stash` if needed before a `git rebase`
    autoStash = true
    # Auto-add `--autosquash` to `git rebase`
    autoSquash = true

[url "git@github.com:"]
    # Always use GitHub SSH protocol to push.
    # Allows use of git:// for public repositories with push access
    pushInsteadOf = git://github.com/

[url "https://github.com/"]
    # Use HTTP for GitHub instead of git:// or git@
    # Enable this in networks where git:// or git@ are blocked.
    #insteadOf = git://github.com/
    #insteadOf = git@github.com:

[url "git@github.com:"]
    # Use SSH for GitHub instead of https://
    # Enable this in networks where https:// has issues.
    #insteadOf = https://github.com/

[url "git@gitorious.org:"]
    # Always use Gitorious SSH protocol to push.
    # Allows use of git:// for public repositories with push access
    # (which is often faster).
    pushInsteadOf = git://gitorious.org/

[credential]
    # Use macOS Keychain to store HTTP passwords.
    helper = osxkeychain

[hub]
    # Use HTTPS rather than SSH protocol in Hub
    protocol = https
