[user]
    name = Salomon Popp
    email = salomon.popp@bakdata.com

[commit]
    gpgsign = false

[url "git@github.com:"]
    # Use SSH for GitHub instead of HTTPS
    insteadOf = https://github.com/
