# vim: commentstring=#%s
[user]
    name = Salomon Popp
    email = salomon.popp@bakdata.com

[commit]
    gpgsign = false

# keep some url rewrites private
[include]
    path = ~/bakdata/.gitconfig_rewrites
