(
    selected_tab: Rgb(0xd3, 0x8a, 0xea), // 0xd38aea
    command_fg: Rgb(0xb0, 0xbe, 0xc5), // 0xB0BEC5
    command_bg: Rgb(0x24, 0x28, 0x2c), // 0x24282C not added yet
    selection_bg: Rgb(0x2c, 0x32, 0x3c), // 0x2C323C
    cmdbar_extra_lines_bg: Rgb(0x2c, 0x32, 0x3c), // 0x2C323C
    disabled_fg: Rgb(0x4b,0x52,0x63), // 0x4B5263
    diff_line_add: Rgb(0x98, 0xc3, 0x79), // light green #98c379
    diff_line_delete: Rgb(0xe0, 0x6c, 0x75), // light red 0x#e06c75
    diff_file_added: Rgb(0x98, 0xc3, 0x79), // light green #98c379
    diff_file_removed: Rgb(0xe0, 0x6c, 0x75), // light red 0x#e06c75
    diff_file_moved: Rgb(0xd3, 0x8a, 0xea), // 0xd38aea
    diff_file_modified: Rgb(0xe5, 0xc0, 0x7b),// 0xe5c07b
    commit_hash: Rgb(0xff, 0xca, 0x43), // 0xFFCA43
    commit_time: Rgb(0xb0, 0xbe, 0xc5), // 0xB0BEC5
    commit_author: Rgb(0x94, 0x9b, 0xa5), // 0x949ba5
    danger_fg: Rgb(0xe1, 0x73, 0x73), // 0xe17373
    push_gauge_bg: Rgb(0x50, 0x79, 0xbe), //0x5079be
    push_gauge_fg: Reset,
)
